@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  font-family: "SUSE", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(185, 255, 252);
  color: rgb(252, 52, 59);
  user-select: none;
}

#name-header {
  text-align: center;
  font-size: 5rem;
  animation: fadeIn 1s;
  color: black;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

#about-section #splash {
  width: 30%;
  border-radius: 50%;
}


#about-section #about-info {
  margin: 3rem;
  font-size: 1.2rem;
  color: black;
  text-align: center;
}

#about-container, #projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  margin-top: 50%;
}

#about-container.visible, #projects-container.visible {
  opacity: 1;
  transform: translateY(0);
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.internal-link, a {
  animation: fadeIn 0.5s;
  color: rgb(252, 52, 59);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

#back-to-top {
  text-align: center;
}

#navbar a:hover, a:hover {
  color: rgb(174, 38, 74);
  transition: ease-in 0.3s;
}

#navbar a:active, a:hover {
  color: rgb(113, 25, 49);
  transition: ease-in 0.3s;
}

.project:nth-child(odd) h2 {
  text-align: left;
}

.project:nth-child(even) {
  text-align: right;
}

.project:nth-child(even) img {
  display: block;
  margin-left: auto;
}

.project {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.project-demo {
  width: 25%;
}

.project-description {
  color: black;
}