@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  font-family: "SUSE", sans-serif;
}

body {
  background-color: bisque;
  color: rgb(252, 52, 105);
}

#name-header {
  text-align: center;
}

#about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

#about-section #splash {
  width: 30%;
  border-radius: 50%;
}
